@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* 将主体的背景颜色设置为蓝色,将字体设置为 Rubik */
body {
  background-color: #0A2344;
  font-family: 'rubik', sans-serif;
}

/* 将标题文本居中对齐 */
h1 {
  text-align: center;
}

/* 设置手风琴菜单的宽度,将顶部和底部的边距设置为 90px,左右边距设置为 auto */
.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}