@charset "UTF-8";

h2{
color: rgb(74, 74, 75);background-color: #d6d6d6;padding-left: 1em;;
}
.h2-{
  padding-left: 2em;
  line-height: 2; 
  background-color: #d6d6d6;
}
/* 声明border-image属性 */
.example-element {
    /* 在这里设置border-image属性 */
    border-image: url('./test1.png') 20 20 round;  
    /* 需要设置一个可见的边框宽度,以便应用图像边框 */
    border-width: 30px;  
    /* 为了保证图像边框生效,还需要设置一个初始边框样式,即使它会被图像覆盖 */
    border-style: solid;  
    /* 其他必要的样式,如宽高、内容等 */
    width: 200px;
    height: 200px;
    padding: 20px;
  }

  .link-with-icon::before{
    content: url('./github-mark.png'); /*伪元素选择器中,必须有content属性*/
    display: inline-table;
    width: 40px; /* 图片宽度 */
    height: 40px; /* 图片高度 */
    margin-right: 8px; /* 图片与链接文本之间的间距 */
    vertical-align:middle; /* 使图片与文本垂直居中对齐 */
  }

  .Opacity{
    background-color: #f4dbdb;
    opacity: 0.5;
  }
  .Opacity:hover{
    background-color: #b1e6f0;
    opacity: 0.5;
  }